.Preloader {
  display: block;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9) url(../../assets/images/ic-preloader.svg) 50% 40% no-repeat;
}